Repository mulesoft/docs-rpa, pull requests merged in 2023-10, with the labels that each got.

#263 W-14136621-rpapermissionspartial-se
  rpa-home/modules/ROOT/pages/_partials/rpa-permissions.adoc
  rpa-home/modules/ROOT/pages/automation-userrolesandpermissions-anypointrpapermissions.adoc
Labels: RPA Manager

#273 W-14242936 Release notes 2023-10/1
  rpa-home/modules/ROOT/pages/_partials/release-notes/rpa-manager-release-notes.adoc
Labels: RPA Manager

#274 W-14245604-recorder 6.4.4 rns
  rpa-home/modules/ROOT/pages/_partials/release-notes/rpa-recorder-6.4.4-release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes/rpa-recorder-6.4.4-release-notes.adoc
Labels: RPA Recorder

#270 W-14199133-bot 1.3..4 rns
  rpa-home/modules/ROOT/pages/_partials/release-notes/rpa-bot-1.3.4-release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes/rpa-bot-1.3.4-release-notes.adoc
Labels: pending deployment, RPA Bot

#271 W-14144696-botdebuglogging-se
  rpa-manager/modules/ROOT/assets/images/debug-icon.png
  rpa-manager/modules/ROOT/pages/botmanagement-troubleshoot.adoc
Labels: RPA Manager, pending deployment
