Repository mulesoft/docs-rpa, pull requests merged in 2023-07, with the labels that each got.

#203 W-13609132-anypoint login method tm
  rpa-recorder/6.3/modules/ROOT/images/anypoint-login-general.png
  rpa-recorder/6.3/modules/ROOT/images/rpa-logout-screen.png
  rpa-recorder/6.3/modules/ROOT/images/rpa-recorder-login.png
  rpa-recorder/6.3/modules/ROOT/pages/getting-started.adoc
Labels: 6.3.0, RPA Recorder

#202 W-13639393-added recorder release notes
  rpa-home/modules/ROOT/pages/_partials/release-notes/rpa-recorder-6.3.0-release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes/rpa-recorder-6.3.0-release-notes.adoc
Labels: 6.3.0, RPA Recorder

#197 W-13593786-append-to-array-cv
  rpa-builder/6.3/modules/ROOT/nav.adoc
  rpa-builder/6.3/modules/ROOT/pages/toolbox-variable-handling-append-to-array.adoc
  rpa-builder/6.3/modules/ROOT/pages/toolbox-variable-handling.adoc
Labels: RPA Builder, 6.3.0

#218 W-13672431-Excel-session-cv
  rpa-builder/6.4/modules/ROOT/pages/toolbox-excel-operations-excel-session.adoc
Labels: RPA Builder, 6.4.0

#216 W-13672444-excel-controlled-loop-cv
  rpa-builder/6.4/modules/ROOT/pages/toolbox-excel-operations-excel-controlled-loop.adoc
Labels: RPA Builder, 6.4.0

#219 W-13787113-midlevelpermissions-se
  rpa-home/modules/ROOT/nav.adoc
  rpa-home/modules/ROOT/pages/automation-userrolesandpermissions-anypointrpapermissions.adoc
  rpa-home/modules/ROOT/pages/automation-userrolesandpermissions-privilegesbymodule.adoc
  rpa-home/modules/ROOT/pages/automation-userrolesandpermissions.adoc
Labels: RPA Manager, in progress

#222 W-13814884-recorder 6.4.0 removed features
  rpa-recorder/6.4/modules/ROOT/pages/user-interface.adoc
Labels: RPA Recorder, 6.4.0

#223 W-13678719-json-path-builder
  rpa-builder/6.4/modules/ROOT/images/jsonpath-expression-builder-button.png
  rpa-builder/6.4/modules/ROOT/images/jsonpath-expression-builder-import.png
  rpa-builder/6.4/modules/ROOT/images/jsonpath-expression-builder.png
  rpa-builder/6.4/modules/ROOT/nav.adoc
  rpa-builder/6.4/modules/ROOT/pages/building-jsonpath-expressions.adoc
  rpa-builder/6.4/modules/ROOT/pages/toolbox-aws-operations-entities-with-aws.adoc
  rpa-builder/6.4/modules/ROOT/pages/toolbox-aws-operations-erp-docs-with-aws.adoc
  rpa-builder/6.4/modules/ROOT/pages/toolbox-aws-operations-key-values-with-aws.adoc
  rpa-builder/6.4/modules/ROOT/pages/toolbox-aws-operations-ocr-with-aws.adoc
  rpa-builder/6.4/modules/ROOT/pages/toolbox-aws-operations-queries-with-aws.adoc
  rpa-builder/6.4/modules/ROOT/pages/toolbox-aws-operations-tables-with-aws.adoc
  rpa-builder/6.4/modules/ROOT/pages/toolbox-aws-operations-translate-with-aws.adoc
  rpa-builder/6.4/modules/ROOT/pages/toolbox-network-rest-call.adoc
  rpa-builder/6.4/modules/ROOT/pages/toolbox-variable-handling-json-query.adoc
Labels: RPA Builder, 6.4.0

#220 W-13784959-image based mouse clicks
  rpa-recorder/6.4/modules/ROOT/images/hotkeys.png
  rpa-recorder/6.4/modules/ROOT/images/image-based-mouse-clicks-icon.png
  rpa-recorder/6.4/modules/ROOT/pages/user-interface.adoc
Labels: RPA Recorder, 6.4.0

#224 W-13804654-recorder 6.4.0 release notes
  rpa-home/modules/ROOT/pages/_partials/release-notes/rpa-recorder-6.4.0-release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes/rpa-recorder-6.4.0-release-notes.adoc
Labels: RPA Recorder, 6.4.0

#221 W-13814650-japanese localization support
  rpa-recorder/6.4/modules/ROOT/pages/user-interface.adoc
Labels: RPA Recorder, 6.4.0

#234 W-13784647 update antora to 6.4.0
  rpa-home/modules/ROOT/pages/_partials/release-notes/rpa-recorder-6.4.0-release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes/rpa-recorder-6.4.0-release-notes.adoc
  rpa-recorder/6.4/antora.yml
  rpa-recorder/6.4/modules/ROOT/images/about-screen.png
  rpa-recorder/6.4/modules/ROOT/images/add-activity-icon.png
  rpa-recorder/6.4/modules/ROOT/images/add-activity.png
  rpa-recorder/6.4/modules/ROOT/images/add-attribute.png
  rpa-recorder/6.4/modules/ROOT/images/add-comment-icon.png
  rpa-recorder/6.4/modules/ROOT/images/add-comment.png
  rpa-recorder/6.4/modules/ROOT/images/add-variable-icon.png
  rpa-recorder/6.4/modules/ROOT/images/add-variable-window.png
  rpa-recorder/6.4/modules/ROOT/images/anypoint-login-general.png
  rpa-recorder/6.4/modules/ROOT/images/close-icon.png
  rpa-recorder/6.4/modules/ROOT/images/default-icon.png
  rpa-recorder/6.4/modules/ROOT/images/define-screenshot-window.png
  rpa-recorder/6.4/modules/ROOT/images/download-rpa-recorder-message.png
  rpa-recorder/6.4/modules/ROOT/images/edit-process-button.png
  rpa-recorder/6.4/modules/ROOT/images/finish-recording-icon.png
  rpa-recorder/6.4/modules/ROOT/images/hotkeys.png
  rpa-recorder/6.4/modules/ROOT/images/image-based-mouse-clicks-icon.png
  rpa-recorder/6.4/modules/ROOT/images/load-file-button.png
  rpa-recorder/6.4/modules/ROOT/images/log-files.png
  rpa-recorder/6.4/modules/ROOT/images/logout-icon.png
  rpa-recorder/6.4/modules/ROOT/images/merge-or-create-bpmn.png
  rpa-recorder/6.4/modules/ROOT/images/pause-recording-icon.png
  rpa-recorder/6.4/modules/ROOT/images/play-icon.png
  rpa-recorder/6.4/modules/ROOT/images/record-bpmn-icon.png
  rpa-recorder/6.4/modules/ROOT/images/recorder-editor-panels.png
  rpa-recorder/6.4/modules/ROOT/images/rpa-recorder-home.png
  rpa-recorder/6.4/modules/ROOT/images/rpa-recorder-login.png
  rpa-recorder/6.4/modules/ROOT/images/save-icon-dark.png
  rpa-recorder/6.4/modules/ROOT/images/save-icon.png
  rpa-recorder/6.4/modules/ROOT/images/save-recording-as-dialog.png
  rpa-recorder/6.4/modules/ROOT/images/select-freeze-delay.png
  rpa-recorder/6.4/modules/ROOT/images/settings.png
  rpa-recorder/6.4/modules/ROOT/images/start-recording-icon.png
  rpa-recorder/6.4/modules/ROOT/images/take-screenshot-icon.png
  rpa-recorder/6.4/modules/ROOT/images/upload-to-server-icon.png
  rpa-recorder/6.4/modules/ROOT/images/web-recording-browser-blank.png
  rpa-recorder/6.4/modules/ROOT/images/web-recording-browser-url.png
  rpa-recorder/6.4/modules/ROOT/images/web-recording-select-element.png
  rpa-recorder/6.4/modules/ROOT/nav.adoc
  rpa-recorder/6.4/modules/ROOT/pages/_partials/hard-soft-requirements.adoc
  rpa-recorder/6.4/modules/ROOT/pages/documents.adoc
  rpa-recorder/6.4/modules/ROOT/pages/getting-started.adoc
  rpa-recorder/6.4/modules/ROOT/pages/hardware-software-requirements.adoc
  rpa-recorder/6.4/modules/ROOT/pages/index.adoc
  rpa-recorder/6.4/modules/ROOT/pages/process-rec-editor.adoc
  rpa-recorder/6.4/modules/ROOT/pages/user-interface.adoc
Labels: RPA Recorder, 6.4.0

#230 W-13223802-deploymentmapenhancement-se
  rpa-manager/modules/ROOT/pages/processoperations-deploymentmap.adoc
Labels: RPA Manager
