Repository mulesoft/docs-rpa, pull requests merged in 2023-06, with the labels that each got.

#179 W-13484331-apikeysonlyvisibleoncreation-se
  rpa-manager/modules/ROOT/nav.adoc
  rpa-manager/modules/ROOT/pages/botmanagement-support.adoc
  rpa-manager/modules/ROOT/pages/botmanagement-troubleshoot.adoc
  rpa-manager/modules/ROOT/pages/dashboard-assemble.adoc
  rpa-manager/modules/ROOT/pages/myrpa-handle.adoc
  rpa-manager/modules/ROOT/pages/processautomation-prepare-deployment-credential.adoc
  rpa-manager/modules/ROOT/pages/processautomation-prepare-deployment-variable.adoc
  rpa-manager/modules/ROOT/pages/processevaluation-approve.adoc
  rpa-manager/modules/ROOT/pages/processevaluation-configure.adoc
  rpa-manager/modules/ROOT/pages/processevaluation-propose.adoc
  rpa-manager/modules/ROOT/pages/processmonitoring-stream.adoc
  rpa-manager/modules/ROOT/pages/processoperations-financeanalysis-analyze.adoc
  rpa-manager/modules/ROOT/pages/processoperations-processexecutionplans.adoc
  rpa-manager/modules/ROOT/pages/processoperations-upcomingprocesschanges.adoc
  rpa-manager/modules/ROOT/pages/usermanagement-assemble.adoc
  rpa-manager/modules/ROOT/pages/usermanagement-connect.adoc
Labels: RPA Manager, pending deployment

#173 W-13110483-botmessage-runresults-se
  rpa-builder/6.2/modules/ROOT/pages/toolbox-system-write-bot-message.adoc
  rpa-manager/modules/ROOT/assets/images/botmessagelog-icon.png
  rpa-manager/modules/ROOT/assets/images/download-icon.png
  rpa-manager/modules/ROOT/pages/botmanagement-troubleshoot.adoc
Labels: RPA Manager, pending deployment

#181 W-13498888-(W-13498827)-proxy-settings-update
  rpa-builder/6.3/modules/ROOT/images/anypoint-rpa-org-log-in.png
  rpa-builder/6.3/modules/ROOT/images/anypoint-rpa-user-log-in.png
  rpa-builder/6.3/modules/ROOT/pages/install-and-configure.adoc
Labels: pending deployment, RPA Builder, 6.3.0

#162 W-13139948-browser-path-prop-cv
  rpa-builder/6.2/modules/ROOT/pages/_partials/toolbox-web-automation-web-session.adoc
Labels: pending deployment, RPA Builder, 6.3.0

#182 W-13498884-file-controlled-loop-cv
  rpa-builder/6.3/modules/ROOT/images/file-controlled-loop-filter-dialog.png
  rpa-builder/6.3/modules/ROOT/images/file-controlled-loop-read-file-during-execution.png
  rpa-builder/6.3/modules/ROOT/images/file-controlled-loop-wizard-read-file-now.png
  rpa-builder/6.3/modules/ROOT/images/filter-icon.png
  rpa-builder/6.3/modules/ROOT/pages/toolbox-flow-control-file-controlled-loop.adoc
Labels: pending deployment, RPA Builder, 6.3.0

#187 W-13562897-read-write-text-file-jp-support
  rpa-builder/6.3/modules/ROOT/pages/toolbox-file-operations-read-from-text-file.adoc
  rpa-builder/6.3/modules/ROOT/pages/toolbox-file-operations-write-to-text-file.adoc
Labels: pending deployment, RPA Builder, 6.3.0

#184 W-13498832-date-and-time-update
  rpa-builder/6.3/modules/ROOT/pages/toolbox-variable-handling-generate-and-modify-date-and-time.adoc
Labels: pending deployment, RPA Builder, 6.3.0

#198 W-13593803-workflow-prop-max-runtime
  rpa-builder/6.3/modules/ROOT/pages/workflow-configure-properties.adoc
Labels: RPA Builder, 6.3.0

#200 W-13632542-show blue border on hover tm
  rpa-recorder/6.3/modules/ROOT/images/web-recording-select-element.png
  rpa-recorder/6.3/modules/ROOT/pages/user-interface.adoc
Labels: 6.3.0, RPA Recorder

#196 W-13564917-remove add variable
  rpa-recorder/6.3/modules/ROOT/images/hotkeys.png
  rpa-recorder/6.3/modules/ROOT/pages/user-interface.adoc
Labels: 6.3.0, RPA Recorder
