Repository mulesoft/docs-rpa, pull requests merged in 2023-11, with the labels that each got.

#294 W-14374222-rns bot 1.4.0
  rpa-home/modules/ROOT/pages/_partials/release-notes/rpa-bot-1.4.0-release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes/rpa-bot-1.4.0-release-notes.adoc
Labels: RPA Bot, 1.4.0

#302 W-14488515 ibmc updates recorder 6.5.0
  rpa-recorder/6.5/modules/ROOT/pages/user-interface.adoc
Labels: RPA Recorder, 6.5.0

#301 W-14400269 recorder 6.5.0 rns
  rpa-home/modules/ROOT/pages/_partials/release-notes/rpa-recorder-6.5.0-release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes/rpa-recorder-6.5.0-release-notes.adoc
Labels: RPA Recorder, 6.5.0

#316 W-14551394 Updating JSONPath builder and screenshots
  rpa-builder/6.5/modules/ROOT/images/check-circle.png
  rpa-builder/6.5/modules/ROOT/images/copy-filter-icon.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder-filter.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder-import.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder.png
  rpa-builder/6.5/modules/ROOT/pages/building-jsonpath-expressions.adoc
Labels: RPA Builder, 6.5.0

#315 W-14245082 Adding supported encodings and adjusting style.
  rpa-builder/6.5/modules/ROOT/images/check-circle.png
  rpa-builder/6.5/modules/ROOT/images/copy-filter-icon.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder-filter.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder-import.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder.png
  rpa-builder/6.5/modules/ROOT/pages/building-jsonpath-expressions.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-read-mail.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-send-mail.adoc
Labels: RPA Builder, 6.5.0

#314 W-14245034 Adding new runtime variables
  rpa-builder/6.5/modules/ROOT/images/check-circle.png
  rpa-builder/6.5/modules/ROOT/images/copy-filter-icon.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder-filter.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder-import.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder.png
  rpa-builder/6.5/modules/ROOT/nav.adoc
  rpa-builder/6.5/modules/ROOT/pages/building-jsonpath-expressions.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-read-mail.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-send-mail.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-variable-handling-runtime-variables.adoc
Labels: RPA Builder, 6.5.0

#309 W-14121928 pdf settings
  rpa-builder/6.5/modules/ROOT/images/check-circle.png
  rpa-builder/6.5/modules/ROOT/images/copy-filter-icon.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder-filter.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder-import.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder.png
  rpa-builder/6.5/modules/ROOT/nav.adoc
  rpa-builder/6.5/modules/ROOT/pages/_partials/pdf-settings.adoc
  rpa-builder/6.5/modules/ROOT/pages/building-jsonpath-expressions.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-mail-session-outlook-with-oauth.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-read-mail.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-send-mail.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-variable-handling-runtime-variables.adoc
Labels: RPA Builder, 6.5.0

#308 W-14244982 Adding operations and outbound variables
  rpa-builder/6.5/modules/ROOT/images/check-circle.png
  rpa-builder/6.5/modules/ROOT/images/copy-filter-icon.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder-filter.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder-import.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder.png
  rpa-builder/6.5/modules/ROOT/nav.adoc
  rpa-builder/6.5/modules/ROOT/pages/_partials/pdf-settings.adoc
  rpa-builder/6.5/modules/ROOT/pages/building-jsonpath-expressions.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-mail-session-outlook-with-oauth.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-read-mail.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-send-mail.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-variable-handling-runtime-variables.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-variable-handling-string-operations.adoc
Labels: RPA Builder, 6.5.0

#307 W-14244954 copy folder cv
  rpa-builder/6.5/modules/ROOT/images/check-circle.png
  rpa-builder/6.5/modules/ROOT/images/copy-filter-icon.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder-filter.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder-import.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder.png
  rpa-builder/6.5/modules/ROOT/nav.adoc
  rpa-builder/6.5/modules/ROOT/pages/_partials/pdf-settings.adoc
  rpa-builder/6.5/modules/ROOT/pages/building-jsonpath-expressions.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-folder-operations-copy-folder.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-folder-operations-create-folder.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-folder-operations-delete-folder.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-folder-operations-rename-folder.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-folder-operations.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-mail-session-outlook-with-oauth.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-read-mail.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-send-mail.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-variable-handling-runtime-variables.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-variable-handling-string-operations.adoc
Labels: RPA Builder, 6.5.0

#305 W-13888528 Adding delete folder article
  rpa-builder/6.5/modules/ROOT/images/check-circle.png
  rpa-builder/6.5/modules/ROOT/images/copy-filter-icon.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder-filter.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder-import.png
  rpa-builder/6.5/modules/ROOT/images/jsonpath-expression-builder.png
  rpa-builder/6.5/modules/ROOT/nav.adoc
  rpa-builder/6.5/modules/ROOT/pages/_partials/pdf-settings.adoc
  rpa-builder/6.5/modules/ROOT/pages/building-jsonpath-expressions.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-folder-operations-copy-folder.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-folder-operations-create-folder.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-folder-operations-delete-folder.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-folder-operations-rename-folder.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-folder-operations.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-mail-session-outlook-with-oauth.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-read-mail.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-mail-operations-send-mail.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-variable-handling-runtime-variables.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-variable-handling-string-operations.adoc
Labels: RPA Builder, 6.5.0

#300 W-13888485 signature detection cv
  rpa-builder/6.5/modules/ROOT/nav.adoc
  rpa-builder/6.5/modules/ROOT/pages/_partials/aws-authentication.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-aws-document-processing.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-aws-operations-entities-with-aws.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-aws-operations-erp-docs-with-aws.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-aws-operations-key-values-with-aws.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-aws-operations-ocr-with-aws.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-aws-operations-queries-with-aws.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-aws-operations-signature-detection-with-aws.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-aws-operations-tables-with-aws.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-aws-operations-translate-with-aws.adoc
Labels: RPA Builder, 6.5.0

#279 W-13658776 select web element cv
  rpa-builder/6.5/modules/ROOT/pages/toolbox-web-automation-select-web-element.adoc
Labels: RPA Builder, 6.5.0

#251 W-13888470-check-regex-cv
  rpa-builder/6.5/modules/ROOT/pages/toolbox-variable-handling-check-regex.adoc
Labels: RPA Builder, 6.5.0

#318 W-14558507 Adding Session Based Variables
  rpa-builder/6.5/modules/ROOT/nav.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-variable-handling-session-based-variables.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-variable-handling-workflow-based-variables.adoc
  rpa-builder/6.5/modules/ROOT/pages/toolbox-variable-handling.adoc
Labels: RPA Builder, 6.5.0

#312 W-14373687 recorder 6.5.0 release
  rpa-home/modules/ROOT/pages/_partials/release-notes/rpa-recorder-6.5.0-release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes/rpa-recorder-6.5.0-release-notes.adoc
  rpa-recorder/6.5/antora.yml
  rpa-recorder/6.5/modules/ROOT/images/about-screen.png
  rpa-recorder/6.5/modules/ROOT/images/add-activity-icon.png
  rpa-recorder/6.5/modules/ROOT/images/add-activity.png
  rpa-recorder/6.5/modules/ROOT/images/add-attribute.png
  rpa-recorder/6.5/modules/ROOT/images/add-comment-icon.png
  rpa-recorder/6.5/modules/ROOT/images/add-comment.png
  rpa-recorder/6.5/modules/ROOT/images/add-variable-icon.png
  rpa-recorder/6.5/modules/ROOT/images/add-variable-window.png
  rpa-recorder/6.5/modules/ROOT/images/anypoint-login-general.png
  rpa-recorder/6.5/modules/ROOT/images/anypoint-login.png
  rpa-recorder/6.5/modules/ROOT/images/close-icon.png
  rpa-recorder/6.5/modules/ROOT/images/default-icon.png
  rpa-recorder/6.5/modules/ROOT/images/define-screenshot-window.png
  rpa-recorder/6.5/modules/ROOT/images/download-rpa-recorder-message.png
  rpa-recorder/6.5/modules/ROOT/images/edit-process-button.png
  rpa-recorder/6.5/modules/ROOT/images/finish-recording-icon.png
  rpa-recorder/6.5/modules/ROOT/images/hotkeys.png
  rpa-recorder/6.5/modules/ROOT/images/image-based-mouse-clicks-icon-light.png
  rpa-recorder/6.5/modules/ROOT/images/image-based-mouse-clicks-icon.png
  rpa-recorder/6.5/modules/ROOT/images/load-file-button.png
  rpa-recorder/6.5/modules/ROOT/images/log-files.png
  rpa-recorder/6.5/modules/ROOT/images/logout-icon.png
  rpa-recorder/6.5/modules/ROOT/images/merge-or-create-bpmn.png
  rpa-recorder/6.5/modules/ROOT/images/pause-recording-icon.png
  rpa-recorder/6.5/modules/ROOT/images/play-icon.png
  rpa-recorder/6.5/modules/ROOT/images/record-bpmn-icon.png
  rpa-recorder/6.5/modules/ROOT/images/recorder-editor-panels.png
  rpa-recorder/6.5/modules/ROOT/images/rpa-recorder-home.png
  rpa-recorder/6.5/modules/ROOT/images/rpa-recorder-login.png
  rpa-recorder/6.5/modules/ROOT/images/save-icon-dark.png
  rpa-recorder/6.5/modules/ROOT/images/save-icon.png
  rpa-recorder/6.5/modules/ROOT/images/save-recording-as-dialog.png
  rpa-recorder/6.5/modules/ROOT/images/select-freeze-delay.png
  rpa-recorder/6.5/modules/ROOT/images/settings.png
  rpa-recorder/6.5/modules/ROOT/images/start-recording-icon.png
  rpa-recorder/6.5/modules/ROOT/images/take-screenshot-icon.png
  rpa-recorder/6.5/modules/ROOT/images/upload-to-server-icon.png
  rpa-recorder/6.5/modules/ROOT/images/web-recording-browser-blank.png
  rpa-recorder/6.5/modules/ROOT/images/web-recording-browser-url.png
  rpa-recorder/6.5/modules/ROOT/images/web-recording-select-element.png
  rpa-recorder/6.5/modules/ROOT/nav.adoc
  rpa-recorder/6.5/modules/ROOT/pages/_partials/hard-soft-requirements.adoc
  rpa-recorder/6.5/modules/ROOT/pages/documents.adoc
  rpa-recorder/6.5/modules/ROOT/pages/getting-started.adoc
  rpa-recorder/6.5/modules/ROOT/pages/hardware-software-requirements.adoc
  rpa-recorder/6.5/modules/ROOT/pages/index.adoc
  rpa-recorder/6.5/modules/ROOT/pages/process-rec-editor.adoc
  rpa-recorder/6.5/modules/ROOT/pages/user-interface.adoc
Labels: RPA Recorder, 6.5.0

#317 W-14557614 Adding RPA Builder 6.5.0 RNs
  rpa-home/modules/ROOT/pages/_partials/release-notes/rpa-builder-6.5.0-release-notes.adoc
Labels: RPA Builder, 6.5.0
