Repository mulesoft/docs-rpa, pull requests merged in 2024-04, with the labels that each got.

#358 W-15287101 Error out variable and Error handling settings
  rpa-builder/6.6/modules/ROOT/images/workflow-settings-environment-wizard.png
  rpa-builder/6.6/modules/ROOT/images/workflow-settings-error-handling-wizard.png
  rpa-builder/6.6/modules/ROOT/images/workflow-settings-network-wizard.png
  rpa-builder/6.6/modules/ROOT/images/workflow-settings-wizard.png
  rpa-builder/6.6/modules/ROOT/pages/workflow-initialization.adoc
Labels: RPA Builder, 6.6.0

#357 W-15508775 Force error state update
  rpa-builder/6.6/modules/ROOT/pages/toolbox-flow-control-force-error-state.adoc
Labels: RPA Builder, 6.6.0

#356 W-15287154 activity parameters update
  rpa-builder/6.6/modules/ROOT/images/add-new-parameters.png
  rpa-builder/6.6/modules/ROOT/pages/toolbox-variable-handling-activity-parameters.adoc
Labels: RPA Builder, 6.6.0

#360 W-15287074 rpa recorder builder integration
  rpa-builder/6.6/modules/ROOT/images/record-icon.png
  rpa-builder/6.6/modules/ROOT/images/workbench-toolbar.png
  rpa-builder/6.6/modules/ROOT/pages/workbench-elements-in-detail.adoc
  rpa-builder/6.6/modules/ROOT/pages/workbench-toolbar-overview.adoc
Labels: RPA Builder, 6.6.0

#359 W-14659026-SFDC-Bridge-se
  rpa-home/modules/ROOT/images/invocableflow-action-choosestarttype.png
  rpa-home/modules/ROOT/images/invocableflow-action-getfinalexecutionstatus.png
  rpa-home/modules/ROOT/images/invocableflow-action-getfirstexecutionstatus.png
  rpa-home/modules/ROOT/images/invocableflow-action-startconfiguration.png
  rpa-home/modules/ROOT/images/invocableflow-action-storeoutput.png
  rpa-home/modules/ROOT/images/invocableflow-activityparameters.png
  rpa-home/modules/ROOT/images/invocableflow-assignment-processExecution.png
  rpa-home/modules/ROOT/images/invocableflow-assignment-processExecutionStatus1.png
  rpa-home/modules/ROOT/images/invocableflow-assignment-processExecutionStatusN.png
  rpa-home/modules/ROOT/images/invocableflow-decision-checksucces.png
  rpa-home/modules/ROOT/images/invocableflow-loop.png
  rpa-home/modules/ROOT/images/invocableflow-resource-processExecution.png
  rpa-home/modules/ROOT/images/invocableflow-resource-processExecutionStatus.png
  rpa-home/modules/ROOT/images/invocableflow-resource-processExecutionStatusCollection.png
  rpa-home/modules/ROOT/images/invocableflow-screen-inputvariables.png
  rpa-home/modules/ROOT/images/invocableflow-screen-output.png
  rpa-home/modules/ROOT/nav.adoc
  rpa-home/modules/ROOT/pages/_partials/release-notes/rpa-bot-1.1.6-release-notes.adoc
  rpa-home/modules/ROOT/pages/_partials/release-notes/rpa-manager-release-notes.adoc
  rpa-home/modules/ROOT/pages/automation-tutorial-composer.adoc
  rpa-home/modules/ROOT/pages/automation-tutorial-deploy.adoc
  rpa-home/modules/ROOT/pages/automation-tutorial-test.adoc
  rpa-home/modules/ROOT/pages/automation-userrolesandpermissions.adoc
  rpa-home/modules/ROOT/pages/glossary.adoc
  rpa-home/modules/ROOT/pages/invoke-rpa-from-flow-build.adoc
  rpa-home/modules/ROOT/pages/invoke-rpa-from-flow-project.adoc
  rpa-home/modules/ROOT/pages/invoke-rpa-from-flow-publish.adoc
  rpa-home/modules/ROOT/pages/invoke-rpa-from-flow-run.adoc
  rpa-home/modules/ROOT/pages/invoke-rpa-from-flow.adoc
  rpa-home/modules/ROOT/pages/invoke-rpa-services.adoc
  rpa-home/modules/ROOT/pages/publish-process-automation-exchange.adoc
  rpa-manager/modules/ROOT/assets/images/cloud-upload-icon.png
  rpa-manager/modules/ROOT/pages/botmanagement-troubleshoot.adoc
  rpa-manager/modules/ROOT/pages/organizationmanagement-settings.adoc
  rpa-manager/modules/ROOT/pages/processautomation-deploy.adoc
  rpa-manager/modules/ROOT/pages/processautomation-overview.adoc
  rpa-manager/modules/ROOT/pages/processautomation-prepare-deployment-credential.adoc
  rpa-manager/modules/ROOT/pages/processautomation-prepare-deployment-variable.adoc
  rpa-manager/modules/ROOT/pages/processautomation-prepare-deployment.adoc
  rpa-manager/modules/ROOT/pages/processmonitoring-queue.adoc
  rpa-manager/modules/ROOT/pages/processoperations-deploymentmap.adoc
  rpa-manager/modules/ROOT/pages/settings-connect.adoc
  rpa-manager/modules/ROOT/pages/usermanagement-connect.adoc
Labels: RPA Manager, pending deployment, Feature Flag

#371 W-15600416 recorder 6.6.0 UI changes
  rpa-recorder/6.6/modules/ROOT/images/add-activity.png
  rpa-recorder/6.6/modules/ROOT/images/add-comment.png
  rpa-recorder/6.6/modules/ROOT/images/define-screenshot-window.png
  rpa-recorder/6.6/modules/ROOT/images/hotkeys.png
  rpa-recorder/6.6/modules/ROOT/images/log-files.png
  rpa-recorder/6.6/modules/ROOT/images/select-freeze-delay.png
  rpa-recorder/6.6/modules/ROOT/images/settings.png
  rpa-recorder/6.6/modules/ROOT/pages/user-interface.adoc
Labels: RPA Recorder, 6.6.0

#370 W-15356922 updates to process rec editor
  rpa-recorder/6.6/modules/ROOT/images/close-icon.png
  rpa-recorder/6.6/modules/ROOT/images/merge-or-create-bpmn.png
  rpa-recorder/6.6/modules/ROOT/images/recorder-editor-panels.png
  rpa-recorder/6.6/modules/ROOT/images/rpa-recorder-home.png
  rpa-recorder/6.6/modules/ROOT/pages/process-rec-editor.adoc
Labels: RPA Recorder, 6.6.0

#366 W-15536820 start recorder in builder
  rpa-recorder/6.6/modules/ROOT/images/update-available.png
  rpa-recorder/6.6/modules/ROOT/pages/getting-started.adoc
Labels: RPA Recorder, 6.6.0

#361 W-15287172 Adding Retrieve Results action step
  rpa-builder/6.6/modules/ROOT/nav.adoc
  rpa-builder/6.6/modules/ROOT/pages/_partials/mulesoft-idp.adoc
  rpa-builder/6.6/modules/ROOT/pages/toolbox-mulesoft-idp-retrieve-results-from-mulesoft-idp.adoc
  rpa-builder/6.6/modules/ROOT/pages/toolbox-mulesoft-idp-submit-document-to-mulesoft-idp.adoc
  rpa-builder/6.6/modules/ROOT/pages/toolbox-mulesoft-idp.adoc
Labels: RPA Builder, 6.6.0

#355 W-15287188 send document cv
  rpa-builder/6.6/modules/ROOT/nav.adoc
  rpa-builder/6.6/modules/ROOT/pages/_partials/mulesoft-idp.adoc
  rpa-builder/6.6/modules/ROOT/pages/toolbox-mulesoft-idp-retrieve-results-from-mulesoft-idp.adoc
  rpa-builder/6.6/modules/ROOT/pages/toolbox-mulesoft-idp-submit-document-to-mulesoft-idp.adoc
  rpa-builder/6.6/modules/ROOT/pages/toolbox-mulesoft-idp.adoc
Labels: RPA Builder, 6.6.0

#374 W-15536820 home page and requirements update
  rpa-recorder/6.6/modules/ROOT/pages/_partials/hard-soft-requirements.adoc
  rpa-recorder/6.6/modules/ROOT/pages/index.adoc
Labels: RPA Recorder, 6.6.0

#364 W-14694600 recorder 6.6.0 release notes
  rpa-home/modules/ROOT/pages/_partials/release-notes/rpa-recorder-6.6.0-release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes.adoc
  rpa-home/modules/ROOT/pages/release-notes/rpa-recorder-6.6.0-release-notes.adoc
Labels: RPA Recorder, 6.6.0

#372 W-15424324-IDP-ConnectedApp-Credentials-se
  rpa-manager/modules/ROOT/pages/processautomation-prepare-deployment-credential.adoc
Labels: RPA Manager, pending deployment
