Repository mulesoft/docs-rpa, pull requests merged in 2024-08, with the labels that each got.

#381 W-15661973-newscheduling-se
  rpa-manager/modules/ROOT/pages/processautomation-deploy.adoc
  rpa-manager/modules/ROOT/pages/processoperations-deploymentmap.adoc
Labels: RPA Manager, pending deployment, Feature Flag

#401 W-16249004-executiontimetableinformation-se
  rpa-manager/modules/ROOT/pages/botmanagement-troubleshoot.adoc
Labels: RPA Manager, pending deployment, Feature Flag

#414 W-16161783 search files google
  rpa-builder/6.7/modules/ROOT/nav.adoc
  rpa-builder/6.7/modules/ROOT/pages/toolbox-google-drive-operations.adoc
  rpa-builder/6.7/modules/ROOT/pages/toolbox-google-workspace-search-in-google-drive.adoc
Labels: RPA Builder, 6.7.0

#413 W-16161768 upload to google drive
  rpa-builder/6.7/modules/ROOT/nav.adoc
  rpa-builder/6.7/modules/ROOT/pages/_partials/oauth-authentication-settings.adoc
  rpa-builder/6.7/modules/ROOT/pages/_partials/oauth-authentication-wizard.adoc
  rpa-builder/6.7/modules/ROOT/pages/_partials/oauth-inbound-variables.adoc
  rpa-builder/6.7/modules/ROOT/pages/toolbox-google-drive-operations.adoc
  rpa-builder/6.7/modules/ROOT/pages/toolbox-google-workspace-download-from-google-drive.adoc
  rpa-builder/6.7/modules/ROOT/pages/toolbox-google-workspace-search-in-google-drive.adoc
  rpa-builder/6.7/modules/ROOT/pages/toolbox-google-workspace-upload-to-google-drive.adoc
Labels: RPA Builder, 6.7.0

#409 W-16153294 Adding Execute excel macro AS
  rpa-builder/6.7/modules/ROOT/nav.adoc
  rpa-builder/6.7/modules/ROOT/pages/toolbox-excel-operations-execute-excel-macro.adoc
  rpa-builder/6.7/modules/ROOT/pages/toolbox-excel-operations.adoc
Labels: RPA Builder, 6.7.0

#408 W-16153452 gmail with oauth update
  rpa-builder/6.7/modules/ROOT/images/credentials-for-oauth.png
  rpa-builder/6.7/modules/ROOT/images/generate-token-form.png
  rpa-builder/6.7/modules/ROOT/images/mail-session-outlook-oauth-wizard.png
  rpa-builder/6.7/modules/ROOT/nav.adoc
  rpa-builder/6.7/modules/ROOT/pages/_partials/generate-oauth-token-steps.adoc
  rpa-builder/6.7/modules/ROOT/pages/_partials/oauth-credentials-properties.adoc
  rpa-builder/6.7/modules/ROOT/pages/toolbox-mail-operations-mail-session-oauth.adoc
  rpa-builder/6.7/modules/ROOT/pages/toolbox-mail-operations-mail-session-outlook-with-oauth.adoc
  rpa-builder/6.7/modules/ROOT/pages/toolbox-variable-handling-credentials-for-oauth.adoc
Labels: RPA Builder, 6.7.0

#416 W-16249047-newgmailoauth-se
  rpa-manager/modules/ROOT/pages/processautomation-prepare-deployment-credential.adoc
Labels: RPA Manager
